.DS_Store
contentstorage/

# Raw camera files (not used on the site)
*.dng
*.DNG

**/__pycache__/
*.pyc

# === AUTO: files over 25MB (kept locally, not on GitHub) ===
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד שמאל/DJI_20251118122600_0025_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 15/המלאכה 15 קומה 1 + אחסנה/DJI_20251118130335_0035_D_stabilized.mp4
assets/RealEstate/Commerce/התרופה 4/DJI_20251118124320_0031_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/DJI_20251118121014_0012_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/DJI_20251118121354_0020_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/DJI_20251118121248_0017_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד שמאל/DJI_20251118122832_0030_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/DJI_20251118121127_0013_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/חנות ביבי סטאר המלאכה 30 3.MP4
assets/RealEstate/Commerce/המלאכה 4/המלאכה 4 א.ת פולג נתניה/המלאכה 4 א.ת פולג נתניה.MP4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/DJI_20251118120307_0003_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/חנות בייבי סטאר פנים 2.MP4
assets/RealEstate/Commerce/התרופה 4/DJI_20251118124526_0033_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד שמאל/DJI_20251118122507_0021_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד שמאל/DJI_20251118122815_0029_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 15/המלאכה 15 קומה 1 + אחסנה/IMG_3750.mov
assets/RealEstate/Commerce/התרופה 4/DJI_20251118124550_0034_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/חנות פנים בייבי סטאר המלאכה 30.MP4
assets/RealEstate/Commerce/התרופה 4/DJI_20251118125625_0061_D.DNG
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 חנות חזית צד ימין/DJI_20251118120239_0002_D_stabilized.mp4
assets/RealEstate/Commerce/המלאכה 30/המלאכה 30 נורלגרונד משרדים/IMG_0003.MP4
assets/RealEstate/Commerce/התרופה 4/התרופה 4 פולוסוויס משרדים/IMG_3106.mp4
